/* Reset */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* Generali */
.container {
      width: 900px;
      margin: 0 auto;
}

.container-flex {
      display: flex;
}

/* Header */
ul {
      list-style: none;
      display: flex;
      justify-content: center;
}











/* debug */
.debug header nav {
      min-height: 80px;
      background-color: #add8e6;
      align-items: center;
}

.debug header nav .logo,
.debug header nav .login {
      width: 20%;
      height: 40px;
      background-color: #daa520;
      border: 2px dashed black;
}

.debug header nav .links {
      width: 60%;
      height: 40px;
      background-color: #daa520;
      border: 2px dashed black;
}

.debug header .jumbotron {
      height: 500px;
      background-color: #00008b;
      justify-content: center;
      align-items: center;
}

.debug header .jumbotron .pink-box {
      width: 50%;
      height: 400px;
      background-color: #ee82ee;
      border: 2px dashed black;
}

.debug main section .sub-section {
      min-height: 500px;
      justify-content: center;
      align-items: center;
}

.debug main section .sub-section .image-section {
      min-height: 400px;
      width: 60%;
      background-color: #1e90ff;
      border: 2px dashed black;
}

.debug main section .sub-section article {
      min-height: 400px;
      width: 40%;
      background-color: #ffc0cb;
      border: 2px dashed black;
}