/* Reset */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* Generali */
.container {
      width: 900px;
      margin: 0 auto;
}

.container-flex {
      display: flex;
}

/* Header */
ul {
      list-style: none;
      display: flex;
      justify-content: center;
}











/* debug */
nav {
      min-height: 80px;
      background-color: #add8e6;
      align-items: center;
}

.logo,
.login {
      width: 20%;
      height: 40px;
      background-color: #daa520;
      border: 2px dashed black;
}

.links {
      width: 60%;
      height: 40px;
      background-color: #daa520;
      border: 2px dashed black;
}

.jumbotron {
      height: 500px;
      background-color: #00008b;
      justify-content: center;
      align-items: center;
}

.pink-box {
      width: 50%;
      height: 400px;
      background-color: #ee82ee;
      border: 2px dashed black;
}

